{% extends 'portfolio/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-9">
                            <h2>Customer Information</h2>
                        </div>
                        <div class="col-3">
                            <a href="{% url 'portfolio:customer_new' %}">
                                <span class="btn btn-primary mr-auto">Add New</span>
                            </a>
                        </div>
                    </div>
                    
                    <br>
                    {% for customer in customer_list %}
                    <div class="card">
                        <div class="card-body">
                            <h4>{{ customer.name }}</h4>
                            <h6 class="accent-color">{{ customer.email }} | {{ customer.cell_phone }}</h6>
                            <p class="card-text">{{ customer.address }}, {{ customer.city }}, 
                                {{ customer.state }} - {{ customer.zipcode }}
                            </p>
                            <p class="text-right">
                                <a href="{% url 'portfolio:customer_edit' pk=customer.pk %}">
                                    <i class="fas fa-pen-square" title="Edit"></i>
                                </a>
                                <a href="{% url 'portfolio:customer_portfolio' pk=customer.pk %}">
                                    <i class="fas fa-file-alt" title="Portfolio"></i>
                                </a>
                                <a href="{% url 'portfolio:customer_delete' pk=customer.pk %}" 
                                    onclick="return confirm('Are you sure you want to delete?')">
                                    <i class="fas fa-trash" title="Delete"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}