{% extends 'portfolio/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-9">
                            <h2>Investment Information</h2>
                        </div>
                        <div class="col-3">
                            <a href="{% url 'portfolio:investment_new' %}">
                                <span class="btn btn-primary mr-auto">Add New</span>
                            </a>
                        </div>
                    </div>
                    
                    <br>
                    {% for investment in investment_list %}
                    <div class="card">
                        <div class="card-body">
                            <h4>{{ investment.customer }}</h4>
                            <h6 class="accent-color">{{ investment.category }} | Acquired on {{ investment.acquired_date }}</h6>
                            <p class="card-text">
                                Description - <strong>{{ investment.description }}</strong><br/>
                                Acquired Value - <strong>{{ investment.acquired_value }}</strong><br/>
                                Recent Value - <strong>{{ investment.recent_value }}</strong><br/>
                                Recent Date - <strong>{{ investment.recent_date }}</strong>
                            </p>
                            <p class="text-right">
                                <a href="{% url 'portfolio:investment_edit' pk=investment.pk %}">
                                    <i class="fas fa-pen-square" title="Edit"></i>
                                </a>
                                <i class="fas fa-file-alt" title="Portfolio"></i>
                                <a href="{% url 'portfolio:investment_delete' pk=investment.pk %}" 
                                    onclick="return confirm('Are you sure you want to delete?')">
                                    <i class="fas fa-trash" title="Delete"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}